/*
using color scheme from : 
http://paletton.com/#uid=12A0u0kllllaFw0g0qFqFg0w0aF		
*/

.colorfg0 { color: #4E5F63 }	/* Main Primary color */
.colorfg1 { color: #7B8183 }
.colorfg2 { color: #85969A }
.colorfg3 { color: #6C7679 }
.colorfg4 { color: #5C696C }

.colorbg0 { background: #709DA7 }	/* Main Primary color */
.colorbg1 { background: #BED5DB }
.colorbg2 { background: #97BBC3 }
.colorbg3 { background: #518692 }
.colorbg4 { background: #377280 }

.colorbg5 { background: gray }

.outer {
	margin: 8px;
	max-width: 1900px;
	border: 2px solid;
	border-radius: 8px;
	position : relative;
}

div#login-buttons{
	left: 70%;
	top: 20px;
	position:absolute;
	z-index: 10;	
}

/* 
	jquery-UI
*/
.ui-menu { width: 200px; }
.ui-widget-header { padding: 0.2em; }
.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	position:float;
}

.menu{
	margin:5px;
	border: 2px solid;
	border-radius:8px;
	border-color:black;
/*
	background:#7C786A;
*/
	min-width:150px;
}


table.scoretable{
	width:100%;
	text-align: center;
/*
	background: #99FF99;
*/
	border-radius: 8px;
}

td.cell, th.cell {
	border: 1px solid;
}

div.imgframe{
	margin: 0px;
/*
	background: #99CC99;
*/
	border: 2px solid;
	border-radius: 8px;
	position : relative;
}

.gamenames{
	position: absolute;
	top:50px;
	left:50px;
	z-index:10;
	color: #002200;
/*
	background: #99EE99;
*/
	border: 2px solid;
	border-radius: 8px;
}
.tableheaderclose{
	text-align: right;
	border: 1px solid;
}
.tableheadername{
	width:100%;
}
.tableheaderrow{
/*
	background: #99DD88;
*/
	width:100%;
}
div.info {
/*
	background: #99CC99;
*/
}
.scorerow {
	margin: 10px;	
}
.score {
}
.addDataBox {
	height:30px;
  	vertical-align: bottom;
	/*width:200px;*/
}

.pickpoints {
	outline: 2px solid black;
} 
