/* CSS declarations go here */
.outer {
	margin: 8px;
	background: #99CC99;
	max-width: 1200px;
	height: 400px;
	border: 2px solid;
	border-radius: 8px;
	position : relative;
}
.menu{
	margin:5px;
	border: 2px solid;
	border-radius:8px;
	border-color:green;
	background:lightgreen;
	min-width:150px;
}
table.scoretable{
	width:100%;
	text-align: center;
	background: #99FF99;
	border-radius: 8px;
}

td.cell, th.cell {
	border: 1px solid;
}
.sum { 
	background: gray;
}
.playername{
}

.playerrow {
	margin:10px;
}

.deletmescoreboardcolumns {
/*ex: johan, oscar, thomas, daniel, winner, risktaker */
	float: left;
	width: 20%;
	text-align: center;
	height:4em;
	font-size: 2em;	
	font-weight: bold;
	color: #003300;
	background: #99FF99;
}
.deletemescoreboardinput {
	float: left;
	text-align: center;
	background: #99BB99;
	width: 20%;
	height: 4em;
}
.gamenames{
	position: absolute;
	top:50px;
	left:50px;
	z-index:10;
	color: #002200;
	background: #99EE99;
	border: 2px solid;
	border-radius: 8px;
}
.tableheaderclose{
	text-align: right;
	border: 1px solid;
}
.tableheadername{
	width:100%;
}
.tableheaderrow{
	background: #99DD88;
	width:100%;
}
div.info {
	background: #99CC99;
}
.scorerow {
	margin: 10px;	
}
.deletemescoreboarddata {
	float: left;
	text-align: center;
	background: #99BB99;
	width: 20%;
	height: 1em;
}
.deletemescoreboardsum {
	text-align: center;	
	background: #99AA99;
}

.deletemerowdivider {
	float:left;
	width: 100%;
	height: 1px;
	color: red;
	background: blue;
}

#addScores {
	background: #99CC99;
}

.score {

}

.addData {
	height:100%;
	width:100%;
}

